@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

$backgroundColor: rgba(187, 197, 209, 0.4);
$textColor: #FFFFFF;
$mainColor: #778CA3;
$secondColor: #4B6584;

body {
  margin: 0;
}

.main {
  min-height: calc(100vh - 70px - 200px - 70px - 30px);
}

.lookingfor {
  font-family: 'Montserrat', sans-serif;
  background-color: $backgroundColor;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: relative;
  min-height: 70px;
  background: $mainColor;

  &_container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    text-decoration: none;
    margin: 0;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__bar {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  &__item {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    height: 70px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s;

    &:hover {
      background-color: $secondColor;
    }

    &_current {
      background-color: $secondColor;
    }
  }

  &__burger {
    display: none;
    width: 50px;
    height: 50px;
    object-fit: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 15px 10px 15px;
  }
}

.header {
  position: relative;

  &_container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
  }

  &__text {
    margin: 0;
    max-width: 750px;
    position: absolute;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    &_semibold {
      font-weight: 600;
      display: inline;
    }
  }
}

.selects {
  margin: 0 auto;
  max-width: 920px;
  display: flex;
  justify-content: space-between;

  &__games {
    display: flex;
    flex-direction: column;

    &-title {
      margin: 50px 0 15px 0;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      color: $secondColor;

      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }

  &__game-items {
    display: flex;
    background: #778CA3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__game-item {
    background-color: #FFFFFF;
    margin: 5px;
    width: 90px;
    height: 90px;
    opacity: 0.5;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: opacity 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &_current {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__looking {
    width: 350px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    background: #778CA3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);


    &-title {
      margin: 50px 0 15px 0;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      color: $secondColor;

      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }

  &__item {
    opacity: 0.5;
    height: 50px;
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    background-color: $secondColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: opacity 0.5s;

    &_long {
      font-size: 14px;
    }

    &:hover {
      opacity: 1;
    }

    &_current {
      opacity: 1;
    }
  }
}


.filters {
  margin: 30px auto 0 auto;
  max-width: 920px;
  background: $mainColor;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  &__form {
    box-sizing: border-box;
    padding: 15px;
    height: 75px;
    display: flex;
    align-items: center;

    &_column {
      padding: 0;
      flex-direction: column;
      height: auto;
    }
  }

  &__label {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &_arrow {
      position: relative;

      &:after {
        font-size: 12px;
        content: "▼";
        position: absolute;
        color: white;
        right: 7px;
        bottom: 7px;
        z-index: 1;
        text-align: center;
        pointer-events: none;
      }
    }

    &_clear {
      margin-right: 0;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  &__select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    font-family: Montserrat;
    width: 160px;
    height: 30px;
    background: $secondColor;
    color: $textColor;
    border: 1px solid #A5B1C2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    cursor: pointer;

    &_long {
      width: 350px;
    }

    &:focus {
      outline: 1px solid white;
    }


  }

  &__option {
    min-height: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    &_newcard {
      font-size: 20px;
      line-height: 24px;
      color: $textColor;
      margin-bottom: 5px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }

  &__textarea {
    width: 350px;
    min-height: 120px;
    font-family: Montserrat;
    background: $secondColor;
    color: $textColor;
    border: 1px solid #A5B1C2;
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    &::placeholder {
      color: $textColor;
    }
  }

  &__button {
    font-family: "Montserrat", sans-serif;
    width: 350px;
    height: 30px;
    background-color: $secondColor;
    border: 1px solid #A5B1C2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: #778CA3;
    }
  }

}

.cards {
  margin: 30px auto 0 auto;
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 445px;
  background: $mainColor;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;

  &__header {
    height: 44px;
    background: $secondColor;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    padding: 10px;
    display: flex;
  }

  &__rating-container {
    width: 24px;
    height: 24px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__rating {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__nickname {
    margin: 0 0 0 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__text {
    margin: 0;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $textColor;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }


  &__badges {
    padding: 10px;
    display: flex;

    &_no-padding {
      padding: 0;
    }
  }

  &__badge {
    margin-left: 10px;
    width: 24px;
    height: 24px;

    background-color: $mainColor;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    &:first-child {
      margin-left: 0;
    }

    &_eng {
      background-image: url(../images/flag-en.jpg);
    }

    &_discord {
      background-image: url(../images/Discord-Logo-White.png);
    }
  }

}


.pagination {
  margin: 0 auto 0 auto;
  max-width: 920px;
  display: flex;
  justify-content: center;

  &__item {
    width: 30px;
    height: 30px;
    background-color: $mainColor;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.5s;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $secondColor;
    }

    &_current {
      background-color: $secondColor;
    }
  }
}

.footer {
  margin: 30px auto 0 auto;
  background: $mainColor;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  &__logo {
    text-decoration: none;
    margin: 0;
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__copyright {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
}


.static {
  margin: 50px auto 50px auto;
  max-width: 920px;

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: $secondColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__content {
    background: $mainColor;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__text {
    padding: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &_opened {
    display: flex;
  }

  &__container {
    box-sizing: border-box;
    max-width: 410px;
    padding: 30px;
    background: $mainColor;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.profile {
  max-width: 920px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;

  &__first {
    width: 350px;
  }

  &__second {
    width: 540px;
  }

}

.own-profile {
  box-sizing: border-box;
  height: auto;
  background: $mainColor;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 15px;

  &__container {
    display: flex;
  }

  &__nickname {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__rating {
    margin: 5px 0 5px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $textColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__title {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: $secondColor;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 15px;
    border: 1px solid #A5B1C2;
    box-sizing: border-box;
  }

  &__buttons {
    margin-top: 15px;
  }

  &__button {
    font-family: "Montserrat", sans-serif;
    height: 30px;
    background-color: $secondColor;
    border: 1px solid #A5B1C2;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    color: $textColor;
    transition: background-color 0.5s;
    padding: 0 10px;
    margin: 0 10px 0 0;

    &:hover {
      background-color: $mainColor;
    }
  }
}

.own-cards {

  &__item {
    background-color: $mainColor;
    margin-bottom: 5px;
  }

  &__header {
    width: 540px;
    height: 44px;
    box-sizing: border-box;
    background: $secondColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__triangle {
    cursor: pointer;
  }

  &__text {
    margin: 0 10px;
    font-weight: 400;
    height: 17px;
    overflow: hidden;
    font-size: 14px;
    line-height: 17px;
    color: $textColor;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }

  &__menu {
    padding: 15px;
    display: none;

    &_opened {
      display: flex;
    }
  }

  &__pagination {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width: 920px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .nav__bar {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  .container {
    max-width: 100%;
  }

  .header__text {
    margin: 0;
    max-width: 100%;
  }

  .selects {
    margin: 0 auto;
    max-width: 100%;

    &__games {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    &__game-items {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;
    }
  }

  .filters {
    max-width: 100%;
  }

  .cards {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .pagination {
    max-width: 100%;
  }

  .static {
    max-width: 100%;
  }

  .profile {
    max-width: 100%;
  }

  .card {
    width: 47.5%;
  }

  .nav__logo {
    font-size: 40px;
    line-height: 70px;
    padding-left: 10px;
  }

  .footer__logo {
    font-size: 40px;
    line-height: 70px;
    padding-left: 10px;
  }

  .profile {
    width: 100%;
    flex-wrap: wrap;
  }

  .profile__first {
    width: 100%;
  }

  .profile__second {
    margin-top: 30px;
    width: 100%;
  }

  .own-cards__header {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav__bar {
    flex-direction: column;
    display: none;
  }

  .nav__bar_opened {
    display: flex;
  }

  .nav__burger {
    display: block;
  }

  .filters {

    &__form {
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px 15px 0 15px;

      &_column {
        flex-direction: column;
        padding: 0;
      }
    }

    &__textarea {
      width: 100%;
    }

    &__button {
      width: 100%;
    }

    &__label {
      margin-right: 0;
      margin-bottom: 15px;
      width: 47.5%;

      &_clear {
        width: 100%;
      }
    }

    &__select {
      width: 100%;
    }

  }

  .header_container {
    height: 300px;
  }

  .header__banner {
    height: 300px;
  }

  .card {
    width: 100%;
  }

  .footer_container {
    flex-direction: column;
    padding: 10px;
    height: auto;
    text-align: center;
  }

  .footer__copyright {
    margin-top: 15px;
  }

  .selects__items {
    width: 100%;
  }

  .selects__looking {
    width: 100%;
  }

  .selects {
    flex-wrap: wrap;

    &__games {
      width: 100%;
    }

    &__game-items {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .popup__container {
    max-width: none;
    width: 80%;
  }
}

@media screen and (max-width: 420px) {
  .filters {

    &__form {
      height: auto;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__label {
      margin-right: 0;
      margin-bottom: 15px;
      width: 100%;
    }

    &__select {
      width: 100%;
    }
  }

  .own-cards__menu {
    flex-direction: column;
  }

  .own-profile__button {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card__header {
    min-height: 44px;
    height: auto;
    flex-wrap: wrap;
  }

  .popup__container {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .nav__logo {
    font-size: 26px;
  }

  .footer__logo {
    font-size: 26px;
  }

  .footer__copyright {
    font-size: 16px;
  }

  .header__text {
    font-size: 26px;
  }
}